@charset "UTF-8";

@font-face {
    font-family: Lato-heavy;
    src: url("../fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: Lato-light;
    src: url("../fonts/Lato-Light.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Lato-light, sans-serif;
}

.scs {
    background:  #263238;
    width: 500px;
    height: 300px;
    border: 3px solid #ccc;
    border-radius: 3px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.scs-profile {
    background: #263238;
    color: #ccc;
    padding: 20px;
    height: 20%;
    z-index: 100;
    position: relative;
}

.scs-profile::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45px; bottom: 0; left: 0; right: 0;
    -webkit-transform: skewY(10deg);
        -ms-transform: skewY(10deg);
            transform: skewY(10deg);
            border-bottom: 2px dashed #ccc;
            -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.scs-profile__image {
    background: #263238;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 1px 1px 20px #131313;
            box-shadow: 1px 1px 20px #131313;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;

}

.scs-profile__image img {
    width: 100%;
    height: 100%;
}

.scs-profile__name {
    font-weight: 400;
    font-family: Lato-heavy, sans-serif;
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow: 1px 1px #000;
}

.scs-profile__type {
    text-transform: capitalize;
    font-size: 1em;
}

.scs-metas {
    color: rgb(165, 163, 163);
    padding: 10px 20px 20px 20px;
    font-size: small;
    font-weight: 300;
    font-family: Lato-light;
}

.scs-metas__desc {
    position: absolute;
    bottom: 20px;
    word-wrap: break-word;
}

.scs-metas__desc .scs-metas__date {
    padding-top: 10px;
    font-weight: 200;
}
